html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: Helvetica;
  font-size: 1rem;
}

.container {
  max-width: 960px;
  margin: auto;
}

.container .header {
  width: 960px;
}

.header {
  background-color: cadetblue;
  color: white;
  padding: 1rem 0;
  margin-top: 1rem;
  position: absolute;
  display: flex;
  align-items: center;
}

.header img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

nav {
  flex-grow: 1;
  text-align: right;
  padding-right: 1rem;
}

nav span {
  padding: 1rem 1rem;
}

@media only screen and (max-width: 975px) {
  .container .header {
    width: 100%;
  }
  .header {
    margin-top: 0;
    width: 100%;
  }
}

.featured {
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
}

.featured h1 {
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  margin-left: 21rem;
  margin-right: -2rem;
}

.featured .container {
  padding-top: 14rem;
}

@media only screen and (max-width: 975px) {
  .featured {
    height: 22rem;
  }
  .featured h1 {
    font-size: 1.33rem;
    padding: 1.75rem 4rem;
    margin-right: 2rem;
    text-align: center;
    position: absolute;
  }
  .featured .container {
    padding-top: 8rem;
    display: flex;
  }
}

.infographs, .about {
  display: flex;
  justify-content: space-around;
  margin: 3rem 3rem 0 3rem;
}

.icon-img {
  height: 5.5rem;
  text-align: center;
}

.icon {
  max-width: 7.5rem;
  height: 8rem;
  text-align: center;
}

.icon-img img {
  width: 4rem;
}

.ruler .icon-img img, .truck .icon-img img {
  width: 5rem;
}

.container .about .philosophy {
  width: 100%;
  margin-right: 5%;
  margin-bottom: 5rem;
}

.points h2 {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: .5rem 0 .5rem 1.25rem;
  margin-bottom: 1rem;
}
.points span {
  display: block;
  line-height: 1.3;
}

.appointments {
  flex-grow: 0;
}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
}

footer .container {
  background-color: azure;
  padding: 4rem 0 4rem 4rem;
}

.footnote {
  position: absolute;
  display: flex;
  align-items: center;
}
